<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Accounting 3600: Final Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#/">Final Project</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#/">Financial Documents</a></li>
              <li><a href="#/about">About</a></li>
              <li><a href="#/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#/">Summary</a></li>
                        <li class="nav-header">Financial Documents</li>
                        <li><a href="#/balance_sheet">Balance Sheet</a></li>
                        <li><a href="#/income_statement">Income Statement</a></li>
                        <li><a href="#/statement_cash">Statement of Cash Flows</a></li>
                        <li class="nav-header">Supporting Documents</li>
                        <li><a href="#/taccounts">T-Accounts</a></li>
                        <li><a href="#/journal">Journal Entries</a></li>
                        <li><a href="#/raw_transactions">Raw Transaction Log</a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span9">
                <h1>Account 3600: Final Project</h1>
                <p>This is the final project for Accounting 3600. </p>
                <div id="content_container">
                </div>
            </div>
    </div> <!-- /container -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/backbone.min.js"></script>


    <script type="text/template" id="t-account-template">
            <% _.forEach(accounts, function(account, account_name) { %>
            <table class="table table-bordered span4">
                <thead>
                    <tr><th colspan="2"><%=account_name %></th></tr>
                    <tr>
                        <th>Debits</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><% _.forEach(account.Debit, function(a){ %>
                            <%=a %><br />
                            <% }); %>
                        </td>
                        <td><% _.forEach(account.Credit, function(a){ %>
                            <%=a %><br />
                            <% }); %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <% }); %>
    </script>

    <script type="text/javascript">
        
        $(document).ready(function() {
            $.getJSON('data/taccounts.v2.json', function(data) {
                var container = $('#content_container')
                var template = _.template(
                    $('#t-account-template').html(),
                    {accounts: data }
                );

                $('#content_container').html(template);

            });
        });
    </script>

  </body>
</html>
