<h3>Actual vs. Predicted Earnings per Share Evaluation</h3>
<p>Analysts predicted our earnings per share (EPS) to be $0.31 at the close of
2012. This prediction is more than double that of the previous years. This EPS
prediction may seem to be an error, but it was in fact a correct an accurate
assessment.  Our actual EPS for 2012 came out to be $0.3186. This is 0.86%
higher than the projected EPS.  This slight discrepancy can be explained by the
higher-than-expected gain on the sale of a capital asset (land) we experienced
during the year, which raised our earnings to a higher level than we
expected.</p>

<img src="img/graphs/per.png" />
<br />
<br />

<p>The EPS is calculated by using the equation (Net Income-Preferred
Dividends)/Number of Shares Outstanding. We have no preferred dividends making
our EPS only the net income divided by number of outstanding shares. Our
predicted doubling of our EPS and unexpected success of 0.86% more than the
prediction can be attributed to our gain on sale of land. We had projected our
gain on sale of land to be $ 574,092, which would cause our EPS to more than
double. However, our actual gain was $600,000; $25,908 (0.86%) more than what we
expected due to exceptional negotiating. This unexpected gain increased our net
income by 0.86%, thus increasing our EPS $0.086 more than our already higher
than the analysts’ prediction of $.31.</p>

