<h3>Balance Sheet</h3>
<h4>As of December 31, (2012 through 2010)</h4>
<table class="table table-bordered">
 <tr><td>December 31,</td><td>&nbsp;</td><td>2012</td><td>2011</td><td>2010</td></tr>
 <tr><th colspan="5"><h4>Assets</h4></th></tr>
 <tr><td>Cash</td><td>&nbsp;</td><td> $4,688,500 </td><td> $785,000 </td><td> $675,000 </td></tr>
 <tr><td>Accounts receivable</td><td>&nbsp;</td><td> 1,170,000 </td><td> 455,000 </td><td> 525,000 </td></tr>
 <tr><td>Allowance for Doubtful Accounts</td><td>&nbsp;</td><td> (175,500)</td><td> (25,000)</td><td> (105,000)</td></tr>
 <tr><td>Marketable securities</td><td>&nbsp;</td><td> $122,000 </td><td> $75,000 </td><td> $15,000 </td></tr>
 <tr><td>Securities Fair Value Adjustment</td><td>&nbsp;</td><td> $4,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Prepaid Insurance</td><td>&nbsp;</td><td> $165,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Prepaid Rent</td><td>&nbsp;</td><td> $42,500 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Office Supplies</td><td>&nbsp;</td><td> $16,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Inventory</td><td>&nbsp;</td><td> $490,000 </td><td> $975,000 </td><td> $775,000 </td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="2" style="text-align: right;">Total Current Assets &nbsp; &nbsp;
         &nbsp;</th><th> $6,522,500 </th><th> $2,265,000 </th><th> $1,885,000 </th></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Office furniture</td><td>&nbsp;</td><td> $50,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Equipment</td><td>&nbsp;</td><td> $4,660,000 </td><td> $5,000,000 </td><td> $5,000,000 </td></tr>
 <tr><td>Accumulated depreciation</td><td>&nbsp;</td><td> $(2,563,750)</td><td> $(2,000,000)</td><td> $(1,500,000)</td></tr>
 <tr><td>Long-term notes receivable</td><td>&nbsp;</td><td> $285,000 </td><td> $285,000 </td><td>&nbsp;</td></tr>
 <tr><td>Land</td><td>&nbsp;</td><td> $1,005,000 </td><td> $1,450,000 </td><td> $1,450,000 </td></tr>
 <tr><td>Patent</td><td>&nbsp;</td><td> $38,333 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="2" style="text-align: right">Non-current Assets&nbsp; &nbsp;
         &nbsp; </th><th> $3,474,583 </th><th> $4,735,000 </th><th> $4,950,000 </th></tr>
 <tr class="lead"><th colspan="2" style="text-align: right;">Total Assets&nbsp; &nbsp; &nbsp; </th><th> $9,997,083 </th><th> $7,000,000 </th><th> $6,835,000 </th></tr>


 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="5"><h4>Liabilities</h4></th></tr>
 <tr><td>Accounts payable</td><td>&nbsp;</td><td> $584,000 </td><td> $450,000 </td><td> $570,000 </td></tr>
 <tr><td>Wages payable</td><td>&nbsp;</td><td> $45,000 </td><td> $150,000 </td><td> $185,000 </td></tr>
 <tr><td>Interest payable</td><td>&nbsp;</td><td> $7,500 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Short-term Note Payable</td><td>&nbsp;</td><td> $600,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Deferred Revenue</td><td>&nbsp;</td><td> $412,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Dividends payable</td><td>&nbsp;</td><td> $1,200,000 </td><td> $155,000 </td><td> $135,000 </td></tr>
 <tr><td>Bond interest payable</td><td>&nbsp;</td><td> $20,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="2" style="text-align: right;">Current Liabilities&nbsp; &nbsp;
 &nbsp; </th><th> $2,868,500 </th><th> $755,000 </th><th> $890,000 </th></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Long-term notes payable</td><td>&nbsp;</td><td> $1,325,000 </td><td> $1,250,000 </td><td> $1,250,000 </td></tr>
 <tr><td>Bonds payable</td><td>&nbsp;</td><td> $1,000,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Premium on Bonds Payable</td><td>&nbsp;</td><td> $40,675 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr class="lead"><th colspan="2" style="text-align: right;">Total Liabilities&nbsp; &nbsp;
         &nbsp; </th><th> $5,234,175 </th><th> $2,005,000 </th><th> $2,140,000 </th></tr>


 <tr><th colspan="5"><h4>Stockholders' Equity</h4></th></tr>
 <tr><td>Contributed capital</td><td>&nbsp;</td><td> $3,008,000 </td><td> $3,000,000 </td><td> $3,000,000 </td></tr>
 <tr><td>Retained earnings</td><td>&nbsp;</td><td> $1,750,908 </td><td> $1,995,000 </td><td> $1,695,000 </td></tr>
 <tr><td>Unrealized Gain (Loss)</td><td>&nbsp;</td><td> $4,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr class="lead"><th colspan="2" style="text-align: right;">Total Stockholders' Equity&nbsp;
 &nbsp; &nbsp; </th><th> $4,762,908 </th><th> $4,995,000 </th><th> $4,695,000 </th></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr class="lead"><th colspan="2" style="text-align: right">Total Liabilities
         and SE &nbsp;  &nbsp;  &nbsp; </th><th> $9,997,083 </th><th> $7,000,000 </th><th> $6,835,000</th></tr></table>
 
