<style type="text/css">
table.tableizer-table {
	border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
} 
.tableizer-table td {
	padding: 4px;
	margin: 3px;
	border: 1px solid #ccc;
}
.tableizer-table th {
	background-color: #104E8B; 
	color: #FFF;
	font-weight: bold;
}
</style>

<table class="tableizer-table">
<tr class="tableizer-firstrow"><th></th><th>Statement of Cash Flows</th><th>2012</th><th>2011</th></tr>
 <tr><td>Cash from Operating Activities</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Net Income</td><td> $964,408 </td><td> $455,000 </td></tr>
 <tr><td>&nbsp;</td><td>Depreciation Expense</td><td> $563,750 </td><td> $500,000 </td></tr>
 <tr><td>&nbsp;</td><td>Bad Debt Expense</td><td> $152,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Amortization on Bond Premium</td><td> $(4,325)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Amortization on Patent</td><td> $1,667 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Net Income - Noncash Expenses</td><td> $1,677,500 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Decrease (Increase) in Accounts Receivable</td><td> $(725,000)</td><td> $(70,000)</td></tr>
 <tr><td>&nbsp;</td><td>Decrease (Increase) in Office Supplies</td><td> $(16,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Decrease (Increase) in Prepaid Rent</td><td> $(42,500)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Decrease (Increase) in Prepaid Insurance</td><td> $(165,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Decrease (Increase) in Inventory</td><td> $485,000 </td><td> $(200,000)</td></tr>
 <tr><td>&nbsp;</td><td>Decrease (Increase) in Current Assets</td><td> $(463,500)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Accounts Payable</td><td> $134,000 </td><td> $(120,000)</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Wages Payable</td><td> $(105,000)</td><td> $(35,000)</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Interest Payable</td><td> $7,500 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Deferred Revenue</td><td> $412,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Bond Interest Payable</td><td> $20,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Current Liabilities</td><td> $468,500 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Net Cash provided by (used in) Operating Activities</td><td>&nbsp;</td><td> $1,682,500 </td><td> $530,000 </td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Cash from Investment Activities</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Sale (Purchase) of Land</td><td> $2,045,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Sale (Purchase) of Land</td><td> $(1,000,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Gain on Sale of Land</td><td> $(600,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Loss on Sale of Equipment</td><td> $25,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Sale (Purchase) of Marketable Securities</td><td> $(47,000)</td><td> $(60,000)</td></tr>
 <tr><td>&nbsp;</td><td>Sale (Purchase) of Office Furniture</td><td> $(50,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Sale (Purchase) of Equipment</td><td> $550,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Sale (Purchase) of Equipment</td><td> $(235,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Sale (Purchase) of Patent</td><td> $(40,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Long Term Notes Receivable </td><td>&nbsp;</td><td> $(285,000)</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Net cash provided by investing activities</td><td>&nbsp;</td><td> $648,000 </td><td> $(345,000)</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Cash flows from financing activities</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Dividends Paid</td><td> $(155,000)</td><td> $(135,000)</td></tr>
 <tr><td>&nbsp;</td><td>Proceeds from the Issuance of Debt</td><td> $1,045,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Repayment of Debt</td><td> $-   </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Owner Capital Contributed (Withdrawn)</td><td> $8,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Long Term Notes Payable</td><td> $100,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Increase (Decrease) in Long Term Notes Payable</td><td> $(25,000)</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Increase in Short Term Notes Payable</td><td> $600,000 </td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Net cash provided by financing activities</td><td>&nbsp;</td><td> $1,573,000 </td><td> $(135,000)</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>Net increase (decrease) in cash and equivalents</td><td>&nbsp;</td><td> $3,903,500 </td><td> $50,000 </td></tr></table>
