<h3>Income Statement</h3>
<h4>For Year Ending December 31st, 2012</h4>
<table class="table table-bordered">
 <tr><th>&nbsp;</th><th>&nbsp;</th><th>2012</th><th>2011</th><th>2010</th></tr>
 <tr><td>&nbsp;</td><td>Sales, net</td><td>$2,908,000 </td><td>$2,435,000 </td><td>$2,500,000 </td></tr>
 <tr><td>&nbsp;</td><td>Cost of goods sold</td><td>$1,050,000 </td><td>$850,000 </td><td>$780,000 </td></tr>
 <tr><td>&nbsp;</td><td>Gross Profit </td><td>$1,858,000 </td><td>$1,585,000 </td><td>$1,720,000 </td></tr>
 <tr><th colspan="5">Operating Expenses</th></tr>
 <tr><td>&nbsp;</td><td>Wages expense</td><td>$615,000 </td><td>$565,000 </td><td>$785,000 </td></tr>
 <tr><td>&nbsp;</td><td>Advertising Expense</td><td>$30,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Utility Expense</td><td>$37,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Office Supplies Expense</td><td>$7,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Fuel Expense</td><td>$900 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Insurance Expense</td><td>$15,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Rent Expense</td><td>$17,500 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Amortization Expense</td><td>$1,667 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td> Bad debt expense </td><td>$160,500 </td><td>$60,750 </td><td>$45,000 </td></tr>
 <tr><td>&nbsp;</td><td>Depreciation expense</td><td>$563,750 </td><td>$500,000 </td><td>$500,000 </td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="2">Operating Income</th><td>$409,683 </td><td>$459,250 </td><td>$390,000 </td></tr>
 <tr><th colspan="5">Other Items</th></tr>
 <tr><td>&nbsp;</td><td>Interest income</td><td>$21,900 </td><td>$52,000 </td><td>$56,000 </td></tr>
 <tr><td>&nbsp;</td><td>Interest expense</td><td>($35,000)</td><td>($56,250)</td><td>($56,250)</td></tr>
 <tr><td>&nbsp;</td><td>Bond Interest Expense</td><td>($15,675)</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Gain (Loss) on sale of Equipment</td><td>($25,000)</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>Gain (Loss) on sale of land</td><td>$600,000 </td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="2">Net Income</th><th>$955,908 </th><th>$455,000 </th><th>$389,750</th></tr></table>
 
