<h3>Projected Income Statement</h3>
<h4>For Year 2013</h4>
<table class="table table-bordered">
 <tr><th>&nbsp;</th><th>&nbsp;</th><th>2013</th></tr>
 <tr><td>&nbsp;</td><td>Sales, net</td><td> $3,250,000 </td></tr>
 <tr><td>&nbsp;</td><td>Cost of goods sold</td><td> $1,007,701 </td></tr>
 <tr><td>&nbsp;</td><td>Gross Profit </td><td> $2,242,299 </td></tr>
 <tr><th colspan="3">Operating Expenses</th></tr>
 <tr><td>&nbsp;</td><td>Wages expense</td><td> $780,170 </td></tr>
 <tr><td>&nbsp;</td><td>Advertising Expense</td><td> $32,727 </td></tr>
 <tr><td>&nbsp;</td><td>Utility Expense</td><td> $37,000 </td></tr>
 <tr><td>&nbsp;</td><td>Office Supplies Expense</td><td> $7,000 </td></tr>
 <tr><td>&nbsp;</td><td>Fuel Expense</td><td> $10,800 </td></tr>
 <tr><td>&nbsp;</td><td>Insurance Expense</td><td> $90,000 </td></tr>
 <tr><td>&nbsp;</td><td>Rent Expense</td><td> $30,000 </td></tr>
 <tr><td>&nbsp;</td><td>Amortization Expense</td><td> $4,000 </td></tr>
 <tr><td>&nbsp;</td><td> Bad debt expense </td><td> $101,357 </td></tr>
 <tr><td>&nbsp;</td><td>Depreciation expense</td><td> $549,063 </td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="2">Operating Income</th><th> $600,182 </th></tr>
 <tr><th colspan="3">Other Items</th></tr>
 <tr><td>&nbsp;</td><td>Interest income</td><td> $82,103 </td></tr>
 <tr><td>&nbsp;</td><td>Interest expense</td><td> $(12,500)</td></tr>
 <tr><td>&nbsp;</td><td>Bond Interest Expense</td><td> $(31,220)</td></tr>
 <tr><td>&nbsp;</td><td>Gain (Loss) on sale of Equipment</td><td>-</td></tr>
 <tr><td>&nbsp;</td><td>Gain (Loss) on sale of land</td><td>-</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><th colspan="2">Net Income</th><th> $561,799</th></tr>
 </table>


<h3>Projected Income Statement</h3>
<dl>
    <dt>Sales</dt>
    <dd>Our sales for 2013 were based upon our sales in 2012. In 2012, 20% 0f
our sales was from the gain (loss) on sale of land and equipment. Since we are
not planning selling any land in 2013 we subtracted the 20% from the sales of
2012. However we expect a 14% growth in sales as a result of our newly hired
regional manager. Therefore, we are expecting our 2013 sales to be 2% less than
the sales of 2012. The 2% decrease in sales of 2012 gives projected sales of
$2,838,000 for 2013. To that projected sales we added the deferred revenue from
2012 ($412,000) and come up with the final projected sales of $3,250,000 for
2013.</dd>

    <dt>Cost of Goods Sold</dt>
    <dd>The cost of goods sold was taken as a percentage of the
    sales for each year. All of the percentages were within a 5% range. The average
    of these percentages is 35.5%. 35.5% of the sales give the cost of goods sold
    for 2013.</dd>

    <dt>Wage Expense</dt>
    <dd>The cost of goods percentage of sales for 2011 and 2012 were
    within 2% of each other, allowing the assumption that 2013’s wage expense will
    be close to the same percentage of sales as the previous years. The average cost
    of goods sold percentage of sales for 2011, and 2012 was calculated to be 21.5%.
    21.5% of the sales for 2013 ($ 2,838,000; sales excluding deferred income from
    2012) was calculated to be $610,170. Then the wages payable of $170,000 from
    2012 was added to give the projected wage expense of $780,170.  2013’s wage
    expense is quite a bit higher than the wage expense of other years. This is
    justifiable because $170,000 of it is actually payable from 2012.</dd>

    <dt>Gross Profit</dt>
    <dd>The cost of goods sold subtracted from the sales. The gross income
    is higher than previous years than the previous years because of the boost in
    sales the deferred revenue from 2012. The gross profit was so high because the
    deferred revenue that boosted the sales had no corresponding cost of goods sold
    because that was recorded in 2012.  </dd>

    <dt>Advertising Expense</dt>
    <dd> The advertising expense for 2012 was $2727 per month. We
    will be keeping the same advertising for all of 2013, making the advertising
    expense for 12 months $32,727.</dd>

    <dt>Utilities Expense</dt>
    <dd> The utilities expense is a fixed yearly expense and will
    not differ in 2013.</dd>

    <dt>Office Supplies Expense</dt>
    <dd>The office supplies expense is a fixed yearly rate
    and will not differ in 2013.</dd>

    <dt>Fuel Expense</dt>
    <dd>The fuel expense per month in 2012 was $900. We plan on using
    the usage of fuel to be the same throughout 2013, giving an expense of $10,800
    for 12 months.<dd>

    <dt>Insurance Expense</dt>
    <dd>The insurance expense per month in 2012 for a 2 year
    insurance policy is $7,500. The policy will cover the entirety of 2013, giving
    an insurance expense of $90,000 for the year.<dd>

    <dt>Rent Expense</dt><dd> The monthly rent expense from 2012 was $2,500, making the rent
    expense for the entirety of 2013, $30,000. </dd>

    <dt>Amortization Expense</dt><dd> The yearly straight-line amortization of a patent
    over10 years gives an expense of $4000 per year.</dd>

    <dt>Bad Debt Expense</dt><dd> The sales divided by the average accounts receivable
    turnover for 2011 an 2012, which is 4.2 gives the projected accounts receivable
    of $ 675,714  for 2013. Since the inception of our company we have been able to
    collect 85% of our ending accounts receivable balance, making bad debt expense
    15% of the accounts receivable.</dd>

    <dt>Depreciation Expense</dt><dd> The sum of an ongoing straight-line depreciation
    ($500,000), straight-line office equipment depreciation ($5,000) and year 2 of
    double declining depreciation of a truck ($44063) gives a depreciation expense
    of $549,063.</dd>

    <dt>Operating Income</dt><dd> Operating expenses subtracted from the gross profit. The
    operating income is higher than previous years because the sales of 2013 is
    higher than other years and the cost of goods sold is lower than others years
    due to the $412,000 of deferred revenue from 2012. None of the previous years
    had any deferred revenue from earlier years that raised their sales like is done
    in 2013.</dd>

    <dt>Interest Income</dt><dd>  3% (the interest rate) of the average of ending cash
    balances of 2012/2011 ($2,736,750), which gives the interest income of
    $82,103.</dd>

    <dt>Interest Expense</dt><dd> The sum of the interest expense for the long term note
    payable ($5,000) and the interest payable for the short term note payable
    ($7,500), giving $12,500.</dd>

    <dt>Bond Interest Expense</dt><dd> 3% of the premium on bonds payable ($4,325) subtracted
    from bond price ($1,045,000) giving a bond interest expense of $31,220.</dd>

    <dt>Gain (Loss) on sale of Equipment</dt><dd> We are not expecting to sell any equipment
    in the 2013.</dd>

    <dt>Gain Loss) on sale of land</dt><dd> We are not expecting to sell land in 2013.</dd>

    <dt>Net Income</dt><dd>   All other items subtracted from operating income. The net income
    of 2013 is much lower than the net income of 2012 but that is mostly due to the
    large gain on sale of land in 2012. The Net income is only slightly higher than
    the net incomes of 2011 and 2010.</dd>

